@import "../../mixins.scss";
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;

  .opacity {
    background-color: rgba(58, 48, 48, 0.308);
    @include lg {
      background-color: rgba(212, 205, 205, 0.608);
    }
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        svg {
          font-size: 1.2rem;
          margin-right: 10px;
        }

        input {
          padding: 10px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid black;
          font-size: 1rem;
          outline: none;

          &:focus {
            border-color: #007bff;
          }
        }
      }

      .error {
        color: red;
        margin-bottom: 20px;
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 1rem;
        &:hover {
          background-color: #0056b3;
        }
      }
    }
    .is-user {
      font-size: 1.2rem;
      color: rgb(24, 21, 21);
      a {
        text-decoration: none;
        font-weight: bold;
        color: black;
      }
    }
  }
}
