@import "../../style.scss";

.nav {
  @include themify($themes) {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: themed("textColor");
    }
    &__content {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      .logo {
        margin-left: -55px;
        img {
          height: 55px;
        }
      }
    }

    &__search {
      display: flex;
      align-items: center; 
      padding-left: 8px; 
      width: 50%; 
      max-width: 500px; 
      background-color: white; 
      border: 1px solid #d3d3d3; 
      justify-content: space-between;
      border-radius: 50px; 
      overflow: hidden; 
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
      @include mobile {
        display: none;
      }
      &__input {
        flex: 1; 
        size:100%;
        border: none;
        padding: 8px;
        font-size: 16px;
        outline: none; 
      }
      &--btn {
        cursor: pointer;
        border: none;
        background-color: transparent; 
        font-size: 15px;
        color: #606060; 
        padding: 8px; 
        transition: color 0.3s ease; 
        &:hover {
          color: #000; 
        }
      }
      &__icon {
        padding: 8px; 
      }
    }
    
      input {
        border: none;
        font-size: 15px;
        &:focus {
          outline: none;
        }
      }
    }

    &__items {
      display: flex;
      gap: 20px;
      list-style: none;
      li a svg {
        font-size: 30px;
      }
    }
  }

